<footer class="site-footer h-card">
  <data class="u-url" href="{{ "/" | relative_url }}"></data>

  <div class="wrapper">

    <div class="copyright">
      © 2022-2023 KGLW.net
    </div>

    <nav>
      <ul>
        <li><a class="page-link" href="{{ "/about" | relative_url }}" title="About KGLW.net">About</a></li>
        <li><a class="page-link" href="{{ "/blog" | relative_url }}" title="KGLW.net Blog">Blog</a></li>
        <li><a class="page-link" href="{{ "/legal" | relative_url }}" title="the fine print">Legal</a></li>
      </ul>
    </nav>

    <div class="social-links">
      {%- include social.html -%}
      <p class="feed-subscribe">
        <a href="{{ 'feed.xml' | relative_url }}" title="RSS feed">
          <svg class="svg-icon orange">
            <use xlink:href="{{ 'assets/minima-social-icons.svg#rss' | relative_url }}"></use>
          </svg>
          <span>RSS</span>
        </a>
      </p>
    </div>

  </div>

  <a rel="me" href="https://heads.social/@kglw_net"></a>
</footer>
