---
---

@import "{{ site.theme }}";

body {
  color: #ccc;
  background: #111;
}

a {
  color: #49c;
  &:hover,
  &:active,
  &:visited {
    color: #87d;
  }
}

pre,
code {
  background: #333;
}

.site-header {
  border: 0;
  background: #f39;
  font-variant: small-caps;
  font-weight: bold;
}

.site-title,
.site-title:visited {
  font-size: 1.1em;
  color: #000;
  font-weight: bold;
}

footer.site-footer {
  .wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-start;
  }
  img {
    max-height: 5em;
  }
}

.setlists {
  h2 {
    display: inline-block;
  }
  .more-link {
    padding: 0 1em;
  }

  ul > li {
    p {
      display: inline;
    }

    > h4 {
      display: inline-block;
      margin: 0 0.3em;
      border-radius: 1em;
      padding: 0.3em 0.6em;
      color: #222;
      background: #3d3;
    }

    > ol {
      display: inline;
      margin: 0;
      
       > li {
        display: inline;

        &:after {
          content: ',';
        }
        &:last-child::after {
          content: none;
        }
      }
    }
  }
}

.blog {
}

.post-meta {
  color: #aaa;
}

.corrections {
  width: 75%;
  margin: 0 auto;
  padding: 5px 15px;
  border-radius: 1em;
  background: #273;
  text-align: center;
  font-size: 0.9em;

  a {
    color: #c63;
    text-decoration: underline;
  }
}
