---
---

@import "{{ site.theme }}";

$gizz-bright-green: #3d3;
$gizz-magenta: #f39;

body {
  color: #ccc;
  background: #111;
}

a {
  color: #49c;
  &:hover,
  &:active,
  &:visited {
    color: #87d;
  }
}

pre,
code {
  background: #333;
}

.site-header {
  border: 0;
  background: $gizz-magenta;
  font-variant: small-caps;
  font-weight: bold;
}

.site-title,
.site-title:visited {
  font-size: 1.1em;
  color: #000;
  font-weight: bold;
}

footer.site-footer {
  .wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-start;
  }
  img {
    max-height: 5em;
  }
}

.home {
  .content {
    text-align: center;
  }
  .post-list-heading {
    color: $gizz-bright-green;
    display: inline-block;
  }

  .more-link {
    padding: 0 1em;
  }

  .setlists {
    ul > li {
      p {
        display: inline;
      }

      > h4 {
        display: inline-block;
        margin: 0 0.3em 0 0;
        border-radius: 1em;
        padding: 0 0.5em;
        color: #222;
        background: #3d3;
      }

      > ol {
        display: inline;
        margin: 0 0.5em 0 0;

        > li {
          display: inline;

          &::after {
            content: ',';
          }
          &:has(.segue)::after,
          &:last-child::after {
            content: none;
          }
        }
      }
    }
  }

  .upcoming_shows {
    .post-list {
      margin-left: 1em;
      list-style: disc;
    }
    li,
    h3 {
      margin-bottom: 0;
    }
    .post-link,
    .post-title {
      font-size: 0.9em;
    }
    .post-date:after {
      content: ": ";
    }
  }

  .blog {
    padding: 1vh 2vw;
    border: 1px solid $gizz-bright-green;
    border-radius: 1em;
    background: #222;
  }
}

.post-content {
  li > p {
    margin-bottom: 0;
  }
}

.post-meta {
  color: #aaa;
}

.corrections {
  width: 75%;
  margin: 0 auto;
  padding: 5px 15px;
  border-radius: 1em;
  background: #273;
  text-align: center;
  font-size: 0.9em;

  a {
    color: #c63;
    text-decoration: underline;
  }
}

.site-footer {
  ul {
    margin-bottom: 0;
  }
}
