---
---

@import
  "{{ site.theme }}"
  // , "minima/syntax-highlighting"
;

$gizz-bright-green: #3d3;
$gizz-magenta: #f39;
$gizz-yellow: #fd0;

body,
pre,
code,
.highlight {
  color: #ddd;
  background: #111 !important;
}

a {
  color: #5be;
  &:hover,
  &:active,
  &:visited {
    color: #c9f;
  }
}

blockquote {
  color: #ccc;
  letter-spacing: -0.5px;
}

hr {
  margin: 2em 25vw;
}

.site-header {
  border: 0;
  background: $gizz-magenta;
  font-variant: small-caps;
  font-weight: bold;
}

.site-title,
.site-title:visited {
  font-size: 1.1em;
  color: #000;
  font-weight: bold;
}

footer.site-footer {
  .wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-start;
  }
  img {
    max-height: 5em;
  }
}

@mixin commas-setlist {
  > li {
    display: inline;
    &::after {
      content: ','; // if the `li` contains a `p` then a line can end up wrapping so that a 'trailing' comma starts a new line; to remedy: ensure there are no blank lines between the numbered entries of the setlist
    }
    &:has(.segue)::after { // Firefox and mobile Samsung browsers don't support `:has()`...
      content: none; // separating this from the :last-child rule so that it will stil be processed
    }
    &:last-child::after {
      content: none;
    }
    p {
      display: inline;
    }
  }
}

.home {
  .content {
    text-align: center;
  }
  .post-list-heading {
    color: $gizz-bright-green;
    display: inline-block;
  }

  .more-link {
    margin: 1vh 2vw;
    border-radius: 1.3em;
    border: 1px solid $gizz-magenta;
    padding: 1vh 2vw;
    color: $gizz-magenta;
    white-space: nowrap;

    &:hover {
      border-color: black;
      background: $gizz-magenta;
      color: black;
      box-shadow: 0 0 10px 3px $gizz-yellow;
      text-decoration: none;
    }
  }

  .setlists > ul > li {
    h3 {
      margin-bottom: 0;
      .post-link {
        font-size: 1em;
      }
    }
    h4 {
      display: inline;
      max-width: 100vw;
      margin: 0 0.2em 0 0;
      border-radius: 1em;
      padding: 0 0.5em;
      color: #222;
      background: $gizz-bright-green;
      white-space: nowrap;
    }
    ol {
      @include commas-setlist;
      display: inline;
      margin: 0 1em 0 0;
    }
    .footnotes {
      display: none;
    }
  }

  .upcoming_shows { // these rules only apply on homepage
    display: none;
    margin-bottom: 2em;
  }

  .blog {
    padding: 1vh 2vw;
    border: 1px solid $gizz-bright-green;
    border-radius: 1em;
    background: #222;
  }
}

.setlist { // setlist page
  > .post-content > ol {
    margin-left: 0;
    @include commas-setlist;
  }
  h4 {
    margin-top: 1em;
    color: $gizz-bright-green;
  }
  .post-content > p {
    margin-top: 1em;
  }
  .reversefootnote {
    padding: 0.3em;
    sup {
      vertical-align: baseline;
      font-size: 1em;
      padding-left: 0.3em;
    }
  }

  .archive-embed {
    margin: 1em;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 380px; // match iframe width attr
    box-shadow: 0 0 10px 1px #666; // 🤘
    a {
      padding: 1vmax;
      .credit:before { content: '('; }
      .credit:after { content: ')'; }
    }
    iframe {
      height: calc(200px + 30px); // [list_height param in iframe's src] plus [height of controls bar (play/skip/volume etc) within iframe]
    }
  }
}

.upcoming_shows { // on homepage and `/upcoming-shows`
  .post-list {
    margin-left: 1em;
    list-style: disc;
  }
  li,
  h3 {
    margin-bottom: 0;
  }
  h3,
  p {
    display: inline-block;
    margin: 0 0.5em;
  }
  .post-link,
  .post-title {
    font-size: 1em;
  }
  .post-date:after {
    content: ": ";
  }
}

.post {
  margin-bottom: 2em;

  .setlist-meta {
    display: flex;
    justify-content: separate;
  }

  .post-integrations {
    list-style: none;
    display: none; // soft-launch ... will be flex

    li {
      padding: 0;
    }
    img {
      height: 1.5em;
    }
  }

  .post-content li > p {
    margin-bottom: 0;
  }

  .youtube-embed {
    width: 90vw;
    max-width: calc(800px - (30px * 2)); // same as max-width on .wrapper
    aspect-ratio: 16 / 9;
    margin-bottom: 2em;
  }

  nav { // next/prev links
    display: flex;
    justify-content: center;

    a {
      margin: 0 5vw;
      border: 1px solid $gizz-magenta;
      border-radius: 1em;
      padding: 1vh 2vw;
      color: $gizz-magenta;

      &:hover {
        text-decoration: none;
        border-color: $gizz-bright-green;
        background: $gizz-magenta;
        color: black;
      }
    }

    :first-child {
      &:before {
        // content: 'prior show: ';
      }
    }
    :last-child {
      &:before {
        // content: 'next show: ';
      }
    }
  }
}

article.release {
  .release-meta {
    display: flex;
    justify-content: flex-start;

    > * {
      margin: 0 1em;
    }
    ul {
      margin: 0;
      padding: 0;
      list-style: none;
    }
    li {
      margin: 0 1em;
    }
    img {
      height: 1em;
    }
  }
  .post-content {
    img {
      max-width: 50vh;
    }
  }
}

.corrections {
  width: 75%;
  margin: 0 auto;
  padding: 5px 15px;
  border-radius: 1em;
  background: #273;
  text-align: center;
  font-size: 0.9em;

  a {
    color: #c63;
    text-decoration: underline;
  }
}

.site-footer {
  ul {
    margin-bottom: 0;
  }
}
