---
layout: default
---

{%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}

<div class="home">


  <section class="content">
    {{ content }}
  </section>


  {%- assign recent_setlists = site.categories.setlists | slice: 0, 5 -%}
  {%- if recent_setlists.size > 0 -%}
  <section class="setlists">
    <h2 class="post-list-heading">
      <a title="view all Setlists performed by King Gizzard and the Lizard Wizard" href="{{ "/setlists" | relative_url }}">Recent Setlists</a>
    </h2>
    <a class="more-link" title="view all Setlists performed by King Gizzard and the Lizard Wizard" href="{{ "/setlists" | relative_url }}">see more...</a>
    <ul class="post-list">
      {%- for setlist in recent_setlists -%}
      <li>
        <h3>
          <a class="post-link" href="{{ setlist.url | relative_url }}">
            <span class="post-date">{{ setlist.date | date: date_format }}</span>
            @ <span class="post-venue">{{ setlist.venue | escape }}</span>
          </a>
        </h3>
        {%- if site.show_excerpts -%}
          {{ setlist.excerpt }}
        {%- endif -%}
      </li>
      {%- endfor -%}
    </ul>
  </section>
  {%- endif -%}


  {%- if site.categories['upcoming-shows'].size > 0 -%}
  <section class="upcoming_shows">
    <h2 class="post-list-heading">Upcoming Shows</h2>
    <a class="more-link" href="{{ "/upcoming-shows" | relative_url }}">full schedule...</a>
    <ul class="post-list">
      {% assign reverse_upcoming_shows = site.categories['upcoming-shows'] | sort: 'date' | slice: 0, 13 %}
      {%- for upcoming in reverse_upcoming_shows -%}
      <li>
        <h3>
          <a class="post-link" href="{{ upcoming.url | relative_url }}">
            <span class="post-date">{{ upcoming.date | date: "%b %-d" }}</span>
            <span class="post-title">{{ upcoming.title | escape }}</span>
          </a>
        </h3>
        {%- if site.show_excerpts -%}
          {{ upcoming.excerpt }}
        {%- endif -%}
      </li>
      {%- endfor -%}
      <li><a class="more-link-list" href="{{ "/upcoming-shows" | relative_url }}">...see the full schedule here</a></li>
    </ul>
  </section>
  {%- endif -%}


  {%- assign recent_blog = site.categories.blog | slice: 0, 2 -%}
  {%- if recent_blog.size > 0 -%}
  <section class="blog">
    <h2 class="post-list-heading"><a href="{{ "/blog" | relative_url }}">Blog</a></h2>
    <a class="more-link" href="{{ "/blog" | relative_url }}" title="list of Blog posts">read more...</a>
    <ul class="post-list">
      {%- for post in recent_blog -%}
      <li>
        <h3>
          <a class="post-link" href="{{ post.url | relative_url }}">
            {{ post.title | escape }}
          </a>
        </h3>
        <span class="post-meta">{{ post.date | date: date_format }}</span>
        {%- if site.show_excerpts -%}
        <div class="post-content post-snippet">
          {{ post.excerpt }}
        </div>
        {%- endif -%}
        <a class="read-more" title="read the full Blog post" href="{{ post.url | relative_url }}">Read more...</a>
      </li>
      {%- endfor -%}
    </ul>
  </section>
  {%- endif -%}

</div>
