---
layout: default
---

{%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}

<article class="setlist post h-entry" itemscope itemtype="http://schema.org/MusicEvent">

  <header class="post-header">

    <p itemprop="performer" hidden>King Gizzard and the Lizard Wizard</p>
    
    <h1 class="post-title p-name" itemprop="name">
      <time class="dt-published" datetime="{{ page.date | date_to_xmlschema }}" itemprop="startDate">
        {{ page.date | date: date_format }}
      </time>
      {%- if page.venue -%}
        @ <span itemprop="location" itemscope itemtype="https://schema.org/Place">
          <span class="p-author h-card" itemprop="name">{{ page.venue }}</span>
        </span>
      {%- endif -%}
    </h1>

    {%- if page.title != page.venue -%}
      <!-- <h2>{{ page.title | escape }}</h2> -->
    {%- endif -%}
      
    <p class="post-meta">
      {%- if page.tour -%}
        Tour:
        <span itemprop="superEvent">
          <span class="p-author h-card" itemprop="name">{{ page.tour }}</span>
        </span>
      {%- endif -%}
    </p>

  </header>

  <div class="post-content e-content" itemprop="description">
    {{ content }}
  </div>

  {%- if site.disqus.shortname -%}
    {%- include disqus_comments.html -%}
  {%- endif -%}

  <p class="post-meta">
    <a class="u-url" href="{{ page.url | relative_url }}" hidden></a>

    {%- if page.modified_date -%}
      Updated:
      {%- assign mdate = page.modified_date | date_to_xmlschema -%}
      <time class="dt-modified" datetime="{{ mdate }}" itemprop="dateModified">
        {{ mdate | date: date_format }}
      </time>
    {%- endif -%}
  </p>

</article>

<p class="corrections">
  <b>Something missing or wrong??</b> Please get in touch!
  <br/><a href="mailto:kglw.net@gmail.com">kglw.net@gmail.com</a> — or social media links below
</p>
