---
layout: default
---

{%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}

<article class="setlist post h-entry" itemscope itemtype="http://schema.org/MusicEvent">

  <header class="post-header">

    <p itemprop="performer" hidden>King Gizzard and the Lizard Wizard</p>
    
    <h1 class="post-title p-name" itemprop="name">
      <time class="dt-published" datetime="{{ page.date | date_to_xmlschema }}" itemprop="startDate">
        {{ page.date | date: date_format }}
      </time>
      {%- if page.venue -%}
        @ <span itemprop="location" itemscope itemtype="https://schema.org/Place">
          <span class="p-author h-card" itemprop="name">{{ page.venue }}</span>
        </span>
      {%- endif -%}
    </h1>

    <div class="setlist-meta">
      <p>
        {%- if page.tour -%}
          Tour:
          <span itemprop="superEvent">
            <span class="p-author h-card" itemprop="name">{{ page.tour }}</span>
          </span>
        {%- endif -%}
      </p>

      {%- unless page.categories contains "upcoming-shows" -%}
        <ul class="post-integrations">
          <li>
            <a href="https://relisten.net/kgatlw/{{ page.date | date: "%Y/%m/%0d" }}" target="_blank" title="listen to this concert at Relisten.net">
              <img src="{{ "/assets/relisten.png" | relative_url }}" alt="Relisten.net icon" />
            </a>
          </li>
        </ul>
      {%- endunless -%}

    </div>

  </header>

  <div class="post-content e-content" itemprop="description">
    {{ content }}
  </div>

  {%- if page.modified_date -%}
    <a class="verified" href="/blog/2023/02/03/setlist-notation-guideline.html" title="KGLW.net blog post: Setlist Notation" target="_blank">
      <img src="{{'/assets/check-lil-giza.png' | release_url}}" alt="Verified — this setlist has been reviewed and verified by KGLW.net staff" width="50" />
    </a>
  {%- endif -%}

  {%- if site.disqus.shortname -%}
    {%- include disqus_comments.html -%}
  {%- endif -%}

  <p class="post-meta">
    <a class="u-url" href="{{ page.url | relative_url }}" hidden></a>

    {%- if page.modified_date -%}
      Updated:
      {%- assign mdate = page.modified_date | date_to_xmlschema -%}
      <time class="dt-modified" datetime="{{ mdate }}" itemprop="dateModified">
        {{ mdate | date: date_format }}
      </time>
    {%- endif -%}
  </p>

</article>

<nav class="setlist">

  {% assign cat = page.categories[0] %}
  {% assign cat_list = site.categories[cat] %}
  {% for post in cat_list %}
    {% if post.url == page.url %}
      {% assign pOffset = forloop.index0 | minus: 1 %}
      {% assign nOffset = pOffset | plus: 2 %}
      {% if forloop.first == false %}
        {% assign next_post = cat_list[pOffset] %}
      {% endif %}
      {% if forloop.last == false %}
        {% assign previous_post = cat_list[nOffset] %}
      {% endif %}
      {% break %}
    {% endif %}
  {% endfor %}

  {%- if previous_post -%}
    {%- assign prevdate = previous_post.date | date: date_format -%}
    <a class="link-prev" href="{{previous_post.url}}">{{prevdate}}</a>
  {% endif %}
  {%- if next_post -%}
    {%- assign nextdate = next_post.date | date: date_format -%}
    <a class="link-next" href="{{next_post.url}}">{{nextdate}}</a>
  {% endif %}

</nav>

<p class="corrections">
  <b>Something missing or wrong??</b> Please get in touch!
  <br/><a href="mailto:kglw.net@gmail.com">kglw.net@gmail.com</a> — or social media links below
</p>
